<form cForm>
  <c-row class="mb-4 mt-4 gx-0"> <!-- Added gx-0 to remove horizontal gutter -->
    <c-col xs="11">
      <input cFormControl
        id="searchBar"
        placeholder="Search for saved exercises..."
        class="w-100"
      />
    </c-col>
    <c-col xs="1">
      <button cButton color="primary" class="w-100"> <!-- Ensure button takes full width of the column -->
        Search
      </button>
    </c-col>
  </c-row>
</form>

<c-row xs="auto" class="mb-4">
  <c-col>
    <button cButton (click)="addExerciseButton()" color="primary">Add exercises</button>
  </c-col>

</c-row>

<c-row>
  <c-col>
    <c-row *ngIf="addExercisesClicked" xs="auto" class="mb-4">
      <c-col>
        <c-form-check>
          <input cFormCheckInput id="checkBack" type="checkbox" [checked]="selectedBodyPart === 'Back'" (change)="selectOnly('Back')" />
          <label cFormCheckLabel for="checkBack">Back</label>
        </c-form-check>
      </c-col>
      <c-col>
        <c-form-check>
          <input cFormCheckInput id="checkBiceps" type="checkbox" [checked]="selectedBodyPart === 'Biceps'" (change)="selectOnly('Biceps')" />
          <label cFormCheckLabel for="checkBiceps">Biceps</label>
        </c-form-check>
      </c-col>
      <c-col>
        <c-form-check>
          <input cFormCheckInput id="checkChest" type="checkbox" [checked]="selectedBodyPart === 'Chest'" (change)="selectOnly('Chest')" />
          <label cFormCheckLabel for="checkChest">Chest</label>
        </c-form-check>
      </c-col>
      <c-col>
        <c-form-check>
          <input cFormCheckInput id="checkCore" type="checkbox" [checked]="selectedBodyPart === 'Core'" (change)="selectOnly('Core')" />
          <label cFormCheckLabel for="checkCore">Core</label>
        </c-form-check>
      </c-col>
      <c-col>
        <c-form-check>
          <input cFormCheckInput id="checkForearms" type="checkbox" [checked]="selectedBodyPart === 'Forearms'" (change)="selectOnly('Forearms')" />
          <label cFormCheckLabel for="checkForearms">Forearms</label>
        </c-form-check>
      </c-col>
      <c-col>
        <c-form-check>
          <input cFormCheckInput id="checkLegs" type="checkbox" [checked]="selectedBodyPart === 'Legs'" (change)="selectOnly('Legs')" />
          <label cFormCheckLabel for="checkLegs">Legs</label>
        </c-form-check>
      </c-col>
      <c-col>
        <c-form-check>
          <input cFormCheckInput id="checkShoulders" type="checkbox" [checked]="selectedBodyPart === 'Shoulders'" (change)="selectOnly('Shoulders')" />
          <label cFormCheckLabel for="checkShoulders">Shoulders</label>
        </c-form-check>
      </c-col>
      <c-col>
        <c-form-check>
          <input cFormCheckInput id="checkTriceps" type="checkbox" [checked]="selectedBodyPart === 'Triceps'" (change)="selectOnly('Triceps')" />
          <label cFormCheckLabel for="checkTriceps">Triceps</label>
        </c-form-check>
      </c-col>
    </c-row>
  </c-col>
</c-row>


<c-row *ngIf="addExercisesClicked && selectedBodyPart" xs="auto" class="mt-2">
  <c-col xs="12">
    <p [ngSwitch]="selectedBodyPart">
      <span *ngSwitchCase="'Back'">
        <c-row  xs="auto" class="mt-2">
          <c-col *ngFor="let exercise of exercises_name_by_body_part[0]" xs="auto" class="mt-2">
            <button cButton (click)="changeInputtingExercise(exercise)" [cModalToggle]="verticallyCenteredModal.id" color="secondary">{{exercise}}</button>
          </c-col>
        </c-row>
      </span>
      <span *ngSwitchCase="'Biceps'">
        <c-row  xs="auto" class="mt-2">
          <c-col *ngFor="let exercise of exercises_name_by_body_part[1]" xs="auto" class="mt-2">
            <button cButton (click)="changeInputtingExercise(exercise)" [cModalToggle]="verticallyCenteredModal.id" color="secondary">{{exercise}}</button>
          </c-col>
        </c-row>
      </span>
      <span *ngSwitchCase="'Chest'">
        <c-row  xs="auto" class="mt-2">
          <c-col *ngFor="let exercise of exercises_name_by_body_part[2]" xs="auto" class="mt-2">
            <button cButton (click)="changeInputtingExercise(exercise)" [cModalToggle]="verticallyCenteredModal.id" color="secondary">{{exercise}}</button>
          </c-col>
        </c-row>
      </span>
      <span *ngSwitchCase="'Core'">
        <c-row  xs="auto" class="mt-2">
          <c-col *ngFor="let exercise of exercises_name_by_body_part[3]" xs="auto" class="mt-2">
            <button cButton (click)="changeInputtingExercise(exercise)" [cModalToggle]="verticallyCenteredModal.id" (click)="hhjj()" color="secondary">{{exercise}}</button>
          </c-col>
        </c-row>
      </span>
      <span *ngSwitchCase="'Forearms'">
        <c-row  xs="auto" class="mt-2">
          <c-col *ngFor="let exercise of exercises_name_by_body_part[4]" xs="auto" class="mt-2">
            <button cButton (click)="changeInputtingExercise(exercise)" [cModalToggle]="verticallyCenteredModal.id" color="secondary">{{exercise}}</button>
          </c-col>
        </c-row>
      </span>
      <span *ngSwitchCase="'Legs'">
        <c-row  xs="auto" class="mt-2">
          <c-col *ngFor="let exercise of exercises_name_by_body_part[5]" xs="auto" class="mt-2">
            <button cButton (click)="changeInputtingExercise(exercise)" [cModalToggle]="verticallyCenteredModal.id" color="secondary">{{exercise}}</button>
          </c-col>
        </c-row>
      </span>
      <span *ngSwitchCase="'Shoulders'">
        <c-row  xs="auto" class="mt-2">
          <c-col *ngFor="let exercise of exercises_name_by_body_part[6]" xs="auto" class="mt-2">
            <button cButton (click)="changeInputtingExercise(exercise)" [cModalToggle]="verticallyCenteredModal.id" color="secondary">{{exercise}}</button>
          </c-col>
        </c-row>
      </span>
      <span *ngSwitchCase="'Triceps'">
        <c-row  xs="auto" class="mt-2">
          <c-col *ngFor="let exercise of exercises_name_by_body_part[7]" xs="auto" class="mt-2">
            <button cButton (click)="changeInputtingExercise(exercise)" [cModalToggle]="verticallyCenteredModal.id" color="secondary">{{exercise}}</button>
          </c-col>
        </c-row>
      </span>
      <span *ngSwitchDefault>Unknown selection</span>
    </p>
  </c-col>
</c-row>

<c-row>
  <c-col xs *ngFor="let card of [].constructor(cardCount); let i = index">
    <c-col>
      <c-card class="mb-4">
        <c-card-header (click)="hhjj()" [ngStyle]="{'color': isClicked ? 'red' : 'black'}">
          Dumbbell Bench Press {{ i + 1 }} <!-- Display card index -->
        </c-card-header>
        <c-card-body>
          <c-chart type="line" [data]="chartLineData" [options]="options"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-col>
</c-row>

<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>{{selectedInputtingExerciseName}}</h5>
    <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row>
      <c-col xs="3">
        1RM (lbs):
      </c-col>
      <c-col xs="9">
        <input cFormControl
          id="1RM form"
          placeholder="Example: 100"
          class="w-60"
        />
      </c-col>
    </c-row>
    <c-row>
      <c-col xs="3">
        Lifting date:
      </c-col>
      <c-col xs="9">
        <form >
          <div class="col-12">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #d="ngbDatepicker"
                [(ngModel)]="today"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </form>
      </c-col>
    </c-row>

  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="addRecordButton()">Add Record</button>
  </c-modal-footer>
</c-modal>
